.page-header {
  margin-bottom: var(--row-gap-medium);

  & > p:first-child {
    margin-top: 0;
  }
}

.page-title {
  letter-spacing: var(--font-display-spacing);
  margin: 0;
  text-wrap: balance;
}

.page-navigation {
  margin-bottom: var(--row-gap-medium);

  & ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: .5em;
  }

  & h2 {
    font: var(--font-body-bold);
    letter-spacing: var(--font-body-spacing);
    margin: .5em 0;
  }
}

.page-pagination {
  border-top: solid 1px var(--color-line);
  margin-top: var(--row-gap-medium);
}



/* PC用のフォントサイズ */
@media (min-width: 481px) {
  .post-header{
    font-size: 2.5em;
  }

  .post-excerpt.body {
    font-size: 2em;
  }

  .post-excerpt.body {
    font-size: 1.2em;
  }

  .body img {
    max-width: 80%;
  }

  .postList {
    & .post-title {
      & a {
        font-size: 0.8em;
      }
    }
  }
}

/* スマートフォン用のフォントサイズ */
@media (max-width: 480px) {
  .post-title{
    font-size: 0.8em;
  }

  .post-header{
    font-size: 1.6em;
    line-height: 0.5em;

  }

  .post-excerpt.body {
    font-size: 1em;
  }

  .post-excerpt.body {
    font-size: 0.8em;
  }

}

