.postList {
  list-style: none;
  padding: 0;

  & article.post + article.post {
    margin-top: var(--row-gap-medium);
  }
  & li.post + li.post {
    margin-top: var(--row-gap-small);
  }

  & .post-header {
    margin-bottom: var(--row-gap-xsmall);
  }

  & .post-details {
    font: var(--font-small);
  }

  & .post-title {
    letter-spacing: var(--font-title-spacing);
    display: block;

    & a {
      text-decoration: none;
    }
  }
}


/* PC用のフォントサイズ */
@media (min-width: 481px) {
  .post-title{
    font-size: 2.5em;
  }

  .post-body.body {
    font-size: 2em;
  }

  .post-body.body {
    font-size: 1.2em;
  }

  .body img {
    max-width: 80%;
  }

}

/* スマートフォン用のフォントサイズ */
@media (max-width: 480px) {

  .post-body.body {
    font-size: 1em;
  }

  .post-body.body {
    font-size: 0.8em;
  }
}

